alarm_clock_1    RCDATA "sounds\\alarm_clock_1.wav"
alert_1          RCDATA "sounds\\alert_1.wav"
boing_1          RCDATA "sounds\\boing_1.wav"
button_click_1   RCDATA "sounds\\button-click_1.wav"
button_click_2   RCDATA "sounds\\button_click_2.wav"
button_click_3   RCDATA "sounds\\button-click_3.wav"
button_click_4   RCDATA "sounds\\button-click_4.wav"
button_click_5   RCDATA "sounds\\button_click_5.wav"
camera_shutter_1 RCDATA "sounds\\camera_shutter_1.wav"
closing_down_1   RCDATA "sounds\\closing_down_1.wav"
long_beep_1      RCDATA "sounds\\long_beep_1.wav"
short_beep_1     RCDATA "sounds\\short_beep_1.wav"
short_beep_2     RCDATA "sounds\\short_beep_2.wav"
short_beep_3     RCDATA "sounds\\short_beep_3.wav"
